extends layout

block content
  main
    #login.container.is-fluid
      .notification
        h1.title.is-2 Sunday School Database
        form
          .field
            label.label Email
            p.control.has-icons-left.has-icons-right
              input.input(type='email' placeholder='Email')
              span.icon.is-small.is-left
                i.fas.fa-envelope
              span.icon.is-small.is-right
                i.fas.fa-check
          .field
            label.label Password
            p.control.has-icons-left
              input.input(type='password' placeholder='Password')
              span.icon.is-small.is-left
                i.fas.fa-lock
          .field
            p.control
              button.button.is-success.is-fullwidth
                | Login